@media (prefers-color-scheme: light) {
    :root {
      --color-body: #f5f5f5;
      --color-text: black;
      --color-text-inactive: #656565;
      --color-level-1: #ffffff;
      --color-level-2: #ebebeb;
      --color-scrollbar: #505050;
      --color-scrollbar-hover: #707070;
      --color-placeholder: #808080;
      --color-hover: rgba(0, 0, 0, 0.05);
      --color-border: #e0e0e0;
      --color-header-text: #000000;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-body: #000;
      --color-text: #fff;
      --color-text-inactive: #a5a5a5;
      --color-level-1: #202020;
      --color-level-2: #303030;
      --color-scrollbar: #505050;
      --color-scrollbar-hover: #707070;
      --color-placeholder: #808080;
      --color-hover: #303030;
      --color-border: rgba(100, 100, 100, 0.2);
      --color-header-text: white;
    }
  }