{
  "Debug": true,
  "Secret": "nfhryetqGHbV%#%&hoTeWqEVGHNg^5Rf",
  "Timezone": "Europe/Moscow",
  "Host": "localhost",
  "Port": "3333",
  "DB": {
    "driver": "Postgres",
    "postgres": {
      "host": "localhost",
      "port": "5432",
      "user": "postgres",
      "password": "root",
      "database": "elven_go"
    }
  },
  "Logger": {
    "writeToConsole": true,
    "writeToFile": {
      "active": true,
      "maxLogFiles": 3,
      "maxLogSize": 10000000
    }
  },
  "Security": {
    "https": {
      "active": true,
      "certPath": "cert/path",
      "keyPath": "key/path"
    },
    "cookie": {
      "domain": "example.com",
      "path": "/",
      "maxAge": "1h",
      "httpOnly": false,
      "secure": false,
      "sameSite": "None"
    },
    "cors": {
      "active": true,
      "allowOrigin": ["https://frontend.example.com"],
      "allowMethods": ["GET", "HEAD", "POST", "PUT", "DELETE"],
      "allowHeaders": ["*"],
      "exposeHeaders": ["cache-control", "content-language", "content-type", "expires", "last-modified", "pragma"],
      "allowCredentials": true,
      "maxAge": 90
    },
    "limiter": {
        "body": {
            "active": true,
            "maxSize": 1024,
            "except": []
        }
    }
  }
}